body{
    margin: 0rem;
    padding: 0rem;
}
#centra-map {
    width: 100%;
    height: 100vh;
}

.material-symbols-outlined{
    color: red;
}
h1{
    
    padding-left: 30rem;
    padding-right: 30rem;
    color: aliceblue;
    background-color: black;
}