:root {
    --background-color: #E4E4E4;
    --text-color: #1F1F1F;
    --button-color: #576CBC;
    --button-border-color: #055C9D;
}

body {
    background: linear-gradient( to left,#090979,#00d4ff);
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: grid;
    place-items: center;
}

img{
    margin: 3rem auto 0;
    width: 20%;
}


ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 100%;
    list-style: none;
}

.board {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5rem auto 0;
    width: 75%;
    text-align: center;
}

.board li {
    border: 1px solid grey;
    border-radius: 20px;
    background-color: white;
    padding-top: 3rem;
    width: 16rem;
    height: 5rem;
    font-size: larger;
    text-align: center;
}

.board li:hover {
    background-color: #1d5ca5;
}

.material-symbols-outlined{
    line-height: 0;
}


