:root {
    --background-color: #E4E4E4;
    --text-color: #1F1F1F;
    --button-color: #576CBC;
    --button-border-color: #055C9D;
}

body {
    background-color: var(--background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: grid;
    place-items: center;
}

h1 {
    color: var(--text-color);
    font-size: 6rem;
    text-align: center;
    text-shadow: 0 0 3px white;
}

a {
    display: table;
    vertical-align: middle;
    margin: 3rem 0 5rem;
    border: var(--button-border-color) 5px solid;
    border-radius: 100%;
    background-color: var(--button-color);
    width: 15rem;
    height: 15rem;
    color: var(--text-color);
    font-size: 3rem;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
}

span {
    display: table-cell;
    vertical-align: middle;
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 100%;
    list-style: none;
}

li {
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    padding: 0.5rem 0;
    width: 15%;
    text-align: center;
}
