body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    display: flex;
    justify-content: center;
    background: black;
    color: aliceblue;
    padding: 1rem;

}

#centra-map {

    width: 100%;
    height: 100vh;
}

#container {

    display: grid;
    grid-template-columns: 25% 50% 25%;

    margin-left: 1rem;
    margin-right: 1rem;
    border: black solid;

}

div{
    border-right: black solid;
    display: block;
}

div h2{
    display: flex;
    justify-content: center;
    border-bottom: black solid;
}


#notices .material-icons{
    color: red;
}

#notices ul li:hover{
    color: blue;
}

 div ul{
     display: flex;
     justify-content: space-around;
 }

 #shuttles .material-icons{
     color: black;
 }
#shuttles ul li:hover{
    color: blue;
}

.clicked{
    color: red;
}