
body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

#centra-map {
    width: 500px;
    height: 500px;
}

form{
    display: inline;
}

.calendarTime {
    float: right;
    margin-right: 100px;

}



button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 15px; /* Increased padding */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Increased font size */
}

button:hover {
    background-color: #45a049;
}



label {
    margin-right: 50px;
    font-size: 20px;
    display: block;
    margin-top: 25px;

}

#selectedDate{
    font-size: 20px;
}

#reserve {
    margin-top: 25px;

}
select{
    font-size: 20px;
}

#submitForm{
    margin-top: 25px;
    margin-left: 50px;
    font-size: 20px;
}
#timeing{
    font-size: 20px;

}
.timeing{
    font-size: 20px;
    margin-top: 25px;
}


