
body {
    font-size: 20px;
    font-family: Arial, sans-serif;
}

#centra-map {
    width: 50%;
    height: 40rem;
}

form{
    display: inline;
}

.calendarTime {
    float: right;
    margin-right: 100px;

}

.timepicker {
    font-size: 15px;
}



button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    padding: 8px 15px; /* Increased padding */
    color: white;
    font-size: 16px; /* Increased font size */
}

button:hover {
    background-color: #45a049;
}



label {
    display: block;
    margin-top: 25px;
    margin-right: 50px;
    font-size: 20px;

}

#reservationForm {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 95%;
}

#selectedDate{
    font-size: 20px;
}

#reserve {
    margin-top: 25px;

}

select{
    font-size: 20px;
}

#submitForm{
    margin-top: 25px;
    margin-left: 50px;
    font-size: 20px;
}
#timeing{
    font-size: 20px;

}
.timeing{
    margin-top: 25px;
    font-size: 20px;
}


